{
	"extends": "airbnb",
	"globals": {
		"document": true,
		"window": true
	},
	"overrides": [
		{
			"files": ["**/*.test.js*"],
			"globals": {
				"it": true
			}
		}
	],
	"parser": "babel-eslint",
	"rules": {
		"curly": ["error", "multi", "consistent"]
	}
}